# Thesis project

In [1]:
# !pip install pandas openpyxl
# !pip install graphviz pretty_confusion_matrix pydotplus shap kneed
# !pip install scikit-learn==1.2.2

In [2]:
missing_threshold = 0.1
threshold=0.8

## Import packages

In [3]:
from IPython.display import display, HTML

display(HTML(data="""
<style>
    div#notebook-container    { width: 95%; }
    div#menubar-container     { width: 65%; }
    div#maintoolbar-container { width: 99%; }a
</style>
"""))

In [4]:
1#general
import pandas as pd
import numpy as np
from scipy import stats
import re

In [5]:
# Import relevant packages for Lasso & Data Splitting
from sklearn.linear_model import Lasso
from sklearn import linear_model
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate

In [6]:
import seaborn as sns

In [7]:
#Import relevant packages for 
from sklearn.datasets import make_classification
from imblearn.over_sampling import SMOTE

In [8]:
from sklearn.model_selection import StratifiedGroupKFold
from sklearn.metrics import  confusion_matrix, precision_score, recall_score

In [9]:
import matplotlib.pyplot as plt
from matplotlib import colors
import warnings; warnings.simplefilter('ignore')

In [10]:
from imblearn.over_sampling import SMOTE
from imblearn import pipeline as pl 
from imblearn.metrics import classification_report_imbalanced
from sklearn.metrics import precision_recall_curve, auc

In [11]:
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

In [12]:
from imblearn.pipeline import make_pipeline
from sklearn.linear_model import LogisticRegression
from imblearn.under_sampling import RandomUnderSampler
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split

In [13]:
from sklearn.metrics import classification_report
from sklearn.linear_model import Lasso
from sklearn.linear_model import LogisticRegression
from imblearn.under_sampling import RandomUnderSampler
from sklearn.model_selection import StratifiedGroupKFold, cross_val_score

In [14]:
# from sklearn.metrics import confusion_matrix
# from pretty_confusion_matrix import pp_matrix_from_data

## Import data

Here, we import the dataframe that is composed of XX observations and XX variables. It is composed of observation of individual in a year $t$ and $t+1$. In case the person appeared consecutively, 

i) We include only the first two years they were included. If we did include them all, we would bias the model training them in the observations that repeated the most - that is, the individuals that were surveyed in more than year. In comparison to a normal econometric estimation where representation matter, we don't need or want to ensure that the sample we have allow us to talk in ceratin levels.

ii) We included all the first observstions of the appended panels. That is, if the person was followed by 4 years, then we have the person in the 3 initial years of a dual panel.

In [15]:
#import data 
data_1 = pd.read_excel("G:\\Mi unidad\\PUCP\\2021-2\\TESIS_1\\3_datos\\enaho_final_one_python_230823.xlsx")
data=data_1
#data.head()

In [16]:
data_1

,ano,num_panel,estrato,p203a,p501,p506r4,p510a1,p511a,p512a,p512b,...,analfa,n_edad_prim,n_edad_sec,n_edad_esc,n_matr_prim,n_matr_sec,n_matr_esc,menor_trabaja,ano_reg,deg_desemp
0,16,1002_16_17,5,1,1.0,111.0,3.0,7.0,1.0,2.0,...,0.0,0,0,0,0,0,0,0,2,0
1,16,1003_16_17,5,1,1.0,150.0,3.0,NaN,1.0,1.0,...,0.0,1,0,1,1,0,0,0,2,0
2,18,1003_17_18,5,1,1.0,4721.0,3.0,NaN,1.0,1.0,...,0.0,2,0,2,2,0,0,0,8,0
3,17,10068_16_17,1,1,1.0,9700.0,NaN,7.0,1.0,1.0,...,0.0,0,1,1,1,0,0,0,4,0
4,17,10070_16_17,1,1,2.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0,1,1,1,0,1,0,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23229,16,995_16_17,4,1,1.0,128.0,3.0,7.0,1.0,12.0,...,0.0,0,0,0,0,0,0,0,2,0
23230,18,995_17_18,4,1,1.0,128.0,3.0,7.0,1.0,18.0,...,0.0,1,0,1,1,0,0,0,8,0
23231,16,999_16_17,5,1,1.0,4773.0,3.0,NaN,1.0,1.0,...,0.0,1,0,1,1,0,0,0,2,0
23232,18,999_17_18,5,1,1.0,111.0,3.0,NaN,1.0,3.0,...,0.0,1,0,1,1,0,0,0,8,0
23233,16,9_16_17,4,1,1.0,4721.0,3.0,NaN,1.0,1.0,...,0.0,0,0,0,0,0,0,0,2,0

In [17]:
# import random

# # Define the number of random observations you want to select
# num_observations_to_select = 500  # Change this number as needed

# # Use random.sample() to select random observations
# data_2 = data_1.sample(n= num_observations_to_select, random_state=42)

In [18]:
 data_1.columns.tolist()

['ano',
 'num_panel',
 'estrato',
 'p203a',
 'p501',
 'p506r4',
 'p510a1',
 'p511a',
 'p512a',
 'p512b',
 'p513t',
 'p517',
 'p523',
 'y_pri_indep',
 'y_sec_dep',
 'y_sec_ind',
 'p558c',
 'p558e6',
 'p599',
 'ocupinf',
 'emplpsec',
 'p203',
 'p204',
 'p208a',
 'p209',
 'p300a',
 'p302',
 'p306',
 'p314a',
 'p401c',
 'p401f',
 'p401h1',
 'p401h2',
 'p401h3',
 'p401h4',
 'p401h5',
 'p401h6',
 'p4191',
 'p4192',
 'p4193',
 'p4194',
 'p4195',
 'p4196',
 'p4197',
 'p4198',
 'p22',
 'p101',
 'p102',
 'p103',
 'p103a',
 'p104a',
 'p104b1',
 'p104b2',
 'p105a',
 'p106a',
 'p110',
 'p111a',
 'p1141',
 'p1142',
 'p1143',
 'p1144',
 'p1145',
 'i1172_01',
 'i1172_02',
 'i1173_01',
 'i1173_02',
 'y_pri_dep',
 'y_pri',
 'y_sec',
 'y_mkt',
 'sector',
 'educ',
 'dpto',
 'regnat',
 'pobre2',
 'gpcm',
 'nbi1_pobre',
 'ingtrabw',
 'ipcr_2',
 'ipcr_3',
 'ipcr_4',
 'ipcr_5',
 'ipcr_1',
 'ipcr_7',
 'ipcr_8',
 'ipcr_6',
 'ipcr_9',
 'ipcr_10',
 'ipcr_11',
 'ipcr_12',
 'ipcr_13',
 'ipcr_14',
 'ipcr_15',
 'ipcr_16',
 'ipcr_17',
 'ipcr_18',
 'ipcr_19',
 'ipcr_20',
 'ipcr_0',
 'tamahno',
 'ciiu_1d',
 'ciiu_6c',
 'p_relativa',
 'celular',
 'gpgru2',
 'gpgru3',
 'gpgru1',
 'gpgru4',
 'gpgru5',
 'gpgru6',
 'gpgru7',
 'gpgru8',
 'gpgru9',
 'gpgru10',
 'gpgru0',
 'analfa',
 'n_edad_prim',
 'n_edad_sec',
 'n_edad_esc',
 'n_matr_prim',
 'n_matr_sec',
 'n_matr_esc',
 'menor_trabaja',
 'ano_reg',
 'deg_desemp']

In [19]:
# col = ['deg_desemp', 'regnat', 'ano_reg', 'num_panel', 'p203a', 'p5561a', 'p5562a', 'p5566a', 'estrato', 'p5571a', 'ano']
# data=data_2.loc[:, col]
# data

### Missings

Drop variables that have a percentage of missings values superior to threshold (0.1 are going to be created after OHE). We do this to keep the variables that are more answered since they are going to be the ones that are going to be more available in the surveys.

In [20]:
# Define the missing threshold and output file name


# Initialize an empty list to store the variable names
vars_delete_all = []

In [21]:
vars_delete_val = data.columns[data.apply(lambda x: sum(x.isna())/len(x)) > missing_threshold]
vars_delete_all += list(vars_delete_val)
num_elements = len(vars_delete_all)

We can see that the mostly the variables that are delimited are categorical/continuos variables.

In [22]:
# Brief analysis of the variables that are dropped in the missing section

print('Numeros de variables con mas de 10% de missings: {:.0f}'.format(num_elements))

Numeros de variables con mas de 10% de missings: 18

In [23]:
data_clean_m=data.drop(vars_delete_all, axis=1)
data_clean_m

,ano,num_panel,estrato,p203a,p501,p558c,p558e6,p599,p203,p204,...,analfa,n_edad_prim,n_edad_sec,n_edad_esc,n_matr_prim,n_matr_sec,n_matr_esc,menor_trabaja,ano_reg,deg_desemp
0,16,1002_16_17,5,1,1.0,1.0,6.0,9.0,2,1,...,0.0,0,0,0,0,0,0,0,2,0
1,16,1003_16_17,5,1,1.0,1.0,6.0,2.0,1,1,...,0.0,1,0,1,1,0,0,0,2,0
2,18,1003_17_18,5,1,1.0,1.0,6.0,1.0,1,1,...,0.0,2,0,2,2,0,0,0,8,0
3,17,10068_16_17,1,1,1.0,6.0,0.0,9.0,1,1,...,0.0,0,1,1,1,0,0,0,4,0
4,17,10070_16_17,1,1,2.0,6.0,NaN,9.0,3,1,...,0.0,0,1,1,1,0,1,0,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23229,16,995_16_17,4,1,1.0,1.0,0.0,9.0,2,1,...,0.0,0,0,0,0,0,0,0,2,0
23230,18,995_17_18,4,1,1.0,1.0,6.0,9.0,2,1,...,0.0,1,0,1,1,0,0,0,8,0
23231,16,999_16_17,5,1,1.0,1.0,6.0,1.0,2,1,...,0.0,1,0,1,1,0,0,0,2,0
23232,18,999_17_18,5,1,1.0,8.0,6.0,9.0,2,1,...,0.0,1,0,1,1,0,0,0,8,0
23233,16,9_16_17,4,1,1.0,6.0,6.0,1.0,2,1,...,0.0,0,0,0,0,0,0,0,2,0

In [24]:
data_clean_m.columns.tolist()

['ano',
 'num_panel',
 'estrato',
 'p203a',
 'p501',
 'p558c',
 'p558e6',
 'p599',
 'p203',
 'p204',
 'p208a',
 'p209',
 'p300a',
 'p306',
 'p314a',
 'p401c',
 'p401f',
 'p401h1',
 'p401h2',
 'p401h3',
 'p401h4',
 'p401h5',
 'p401h6',
 'p4191',
 'p4192',
 'p4193',
 'p4194',
 'p4195',
 'p4196',
 'p4197',
 'p4198',
 'p22',
 'p101',
 'p102',
 'p103',
 'p103a',
 'p104a',
 'p104b1',
 'p104b2',
 'p105a',
 'p110',
 'p111a',
 'p1141',
 'p1142',
 'p1143',
 'p1144',
 'p1145',
 'i1172_01',
 'i1172_02',
 'i1173_01',
 'i1173_02',
 'y_sec',
 'y_mkt',
 'sector',
 'educ',
 'dpto',
 'regnat',
 'pobre2',
 'gpcm',
 'nbi1_pobre',
 'ingtrabw',
 'ipcr_2',
 'ipcr_3',
 'ipcr_4',
 'ipcr_5',
 'ipcr_1',
 'ipcr_7',
 'ipcr_8',
 'ipcr_6',
 'ipcr_9',
 'ipcr_10',
 'ipcr_11',
 'ipcr_12',
 'ipcr_13',
 'ipcr_14',
 'ipcr_15',
 'ipcr_16',
 'ipcr_17',
 'ipcr_18',
 'ipcr_19',
 'ipcr_20',
 'ipcr_0',
 'tamahno',
 'ciiu_6c',
 'p_relativa',
 'celular',
 'gpgru2',
 'gpgru3',
 'gpgru1',
 'gpgru4',
 'gpgru5',
 'gpgru6',
 'gpgru7',
 'gpgru8',
 'gpgru9',
 'gpgru10',
 'gpgru0',
 'analfa',
 'n_edad_prim',
 'n_edad_sec',
 'n_edad_esc',
 'n_matr_prim',
 'n_matr_sec',
 'n_matr_esc',
 'menor_trabaja',
 'ano_reg',
 'deg_desemp']

### Dropeamos outliers

In order to keep the values that are more adjusted to medium reality, we choose to drop the outliers of the continuos variables. We set lower and upper thresholds with 1 standar deviation from the mean of the variable.

In [25]:
# Create function that replaces with missing the value of that variable in that observation in case they are below or above 
# the lower and upper threshold (respectively).

def replace_outliers_with_threshold(df, cols):
    for col in cols:
        # Calculate the mean and standard deviation for the current column
        col_mean = df[col].mean()
        col_std = df[col].std()

        # Calculate the lower and upper thresholds (3 standard deviations away from the mean)
        lower_threshold = col_mean - 1 * col_std
        upper_threshold = col_mean + 1 * col_std

        # Replace outliers with the threshold value
        df[col] = np.where((df[col] < lower_threshold) | (df[col] > upper_threshold), col_mean, df[col])

    return df

In [26]:
# # Create an empty list to store the names of continuous variables
# continuous_cols = []

# # Set a threshold for the number of unique values to distinguish categorical from continuous variables
# unique_value_threshold = 8

# # Iterate through the columns and identify continuous variables
# for col in data_clean_m.columns:
#     # Check if the column is numeric
#     if data_clean_m[col].dtype in [int, float]:
#         # Check the number of unique values in the column
#         num_unique_values = data_clean_m[col].nunique()
        
#         # Consider it as continuous only if the number of unique values is above the threshold
#         if num_unique_values > unique_value_threshold:
#             continuous_cols.append(col)

# # Now 'continuous_cols' will contain the names of continuous variables in the DataFrame
# print(continuous_cols)

# continuous_cols = ['y_sec', 'y_mkt','pobre2', 'gpcm', 'ingtrabw', 'ipcr_0', 'ipcr_1', 'ipcr_2', 'ipcr_3', 'ipcr_4', 'ipcr_5', 'ipcr_6', 'ipcr_7', 'ipcr_8', 'ipcr_9', 'ipcr_10', 'ipcr_11', 'ipcr_12',
#     'ipcr_13', 'ipcr_14', 'ipcr_15', 'ipcr_16', 'ipcr_17', 'ipcr_18', 'ipcr_19', 'ipcr_20', 'gpgru1', 'gpgru2', 'gpgru3', 'gpgru4', 'gpgru5', 'gpgru6', 'gpgru7', 'gpgru8', 'gpgru9','gpgru10', 'p104a', 
#     'i1172_01', 'i1172_02', 'i1173_01', 'i1173_02', 'p208a', 'n_edad_prim', 'n_edad_sec', 'n_edad_esc', 'n_matr_prim', 'n_matr_sec', 'n_matr_esc'] #con 0.1

# continuous_cols = [ 'y_pri',  'y_sec', 'y_mkt', 'pobre2', 'gpcm', 'ingtrabw', 'ipcr_0', 'ipcr_1', 'ipcr_2', 'ipcr_3', 'ipcr_4',
#     'ipcr_5', 'ipcr_6', 'ipcr_7', 'ipcr_8', 'ipcr_9', 'ipcr_10', 'ipcr_11', 'ipcr_12', 'ipcr_13', 'ipcr_14', 'ipcr_15', 'ipcr_16', 'ipcr_17', 'ipcr_18', 'ipcr_19', 'ipcr_20',
#     'gpgru1', 'gpgru2', 'gpgru3', 'gpgru4', 'gpgru5', 'gpgru6', 'gpgru7', 'gpgru8', 'gpgru9', 'gpgru10', 'p104a', 'i1172_01', 'i1172_02', 'i1173_01', 'i1173_02', 'p208a', 'p512a', 'p513t',
#     'n_edad_prim', 'n_edad_sec', 'n_edad_esc', 'n_matr_prim', 'n_matr_sec', 'n_matr_esc'] #0.5


 
cat_col_total = [
    'p300a', 'sector', 'educ', 'dpto', 'regnat', 'tamahno', 'ciiu_1d', 'ciiu_6c',
    'p101', 'p102', 'p103', 'p103a', 'p105a', 'p110', 'p111a', 'p203', 'p209', 'p302',
    'p506r4', 'p510a1', 'p511a', 'p512b', 'p523', 'emplpsec', 'p517','p558c', 'estrato','ano',  'p599'
]

continous_col_total = [
    'y_pri_dep', 'y_pri_indep', 'y_pri', 'y_sec_dep', 'y_sec_ind', 'y_sec', 'y_mkt',
    'pobre2', 'gpcm', 'ingtrabw', 'ipcr_0', 'ipcr_1', 'ipcr_2', 'ipcr_3', 'ipcr_4',
    'ipcr_5', 'ipcr_6', 'ipcr_7', 'ipcr_8', 'ipcr_9', 'ipcr_10', 'ipcr_11', 'ipcr_12',
    'ipcr_13', 'ipcr_14', 'ipcr_15', 'ipcr_16', 'ipcr_17', 'ipcr_18', 'ipcr_19', 'ipcr_20',
    'gpgru1', 'gpgru2', 'gpgru3', 'gpgru4', 'gpgru5', 'gpgru6', 'gpgru7', 'gpgru8', 'gpgru9',
    'gpgru10', 'p104a', 'i1172_01', 'i1172_02', 'i1173_01', 'i1173_02', 'p208a', 'p512a', 'p513t',
    'n_edad_prim', 'n_edad_sec', 'n_edad_esc', 'n_matr_prim', 'n_matr_sec', 'n_matr_esc','p203a'
]


binary_col_total = [
    'p401h1', 'p401h2', 'p401h3', 'p401h4', 'p401h5', 'p401h6', 'p4191', 'p4192', 'p4193', 'p4194', 'p4195', 
    'p4196', 'p4197', 'p4198', 'p1141', 'p1142', 'p1143', 'p1144', 'p1145', 'ocupinf', 'p501', 'p401c', 'p401f',
    'p306', 'p314a', 'p204', 'nbi1_pobre', 'p106a', 'p104b1', 'p104b2', 'p22', 'p_relativa', 'p558e6', 
    'celular', 'analfa','menor_trabaja'
]


id_col_total = [
     'num_panel','ano_reg', 'deg_desemp'
]


total = cat_col_total + continous_col_total + binary_col_total + id_col_total
len(total)

124

In [27]:
f_cont_total = list(set(continous_col_total).intersection(data_clean_m.columns))
f_cat_total= list(set(cat_col_total).intersection(data_clean_m.columns))
f_bin_total = list(set(binary_col_total).intersection(data_clean_m.columns))
#f_id_total = list(set(id_col_total).intersection(data_clean_m.columns)

data_clean_m[f_bin_total] =data_clean_m[f_bin_total].replace({2: 0})

In [28]:
# Apply the functions to the selected variables
df_cleaned = replace_outliers_with_threshold(data_clean_m.copy(), f_cont_total)
df_cleaned.head()

,ano,num_panel,estrato,p203a,p501,p558c,p558e6,p599,p203,p204,...,analfa,n_edad_prim,n_edad_sec,n_edad_esc,n_matr_prim,n_matr_sec,n_matr_esc,menor_trabaja,ano_reg,deg_desemp
0,16,1002_16_17,5,1.0,1.0,1.0,6.0,9.0,2,1,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0,2,0
1,16,1003_16_17,5,1.0,1.0,1.0,6.0,0.0,1,1,...,0.0,1.000000,0.0,1.0,1.0,0.0,0.000000,0,2,0
2,18,1003_17_18,5,1.0,1.0,1.0,6.0,1.0,1,1,...,0.0,0.695446,0.0,2.0,2.0,0.0,0.000000,0,8,0
3,17,10068_16_17,1,1.0,1.0,6.0,0.0,9.0,1,1,...,0.0,0.000000,1.0,1.0,1.0,0.0,0.000000,0,4,0
4,17,10070_16_17,1,1.0,0.0,6.0,NaN,9.0,3,1,...,0.0,0.000000,1.0,1.0,1.0,0.0,0.088663,0,4,1

We check that the dataset is different from the previous one, to know we have change it (there are not outliers in the continous variables anymore).

In [29]:
if data_clean_m.copy().equals(df_cleaned):
    print("The two DataFrames are identical.")
else:
    print("The two DataFrames are different.")

The two DataFrames are different.

### One hot encoding

Now, we hace to one-hot-encode the categorical variables in order to introduce them to the model.

In [30]:
# Perform one-hot encoding on the specified columns
df_encoded = pd.get_dummies(df_cleaned, columns=f_cat_total )
df_encoded.head()

,num_panel,p203a,p501,p558e6,p599,p204,p208a,p306,p314a,p401c,...,ciiu_6c_1,ciiu_6c_2,ciiu_6c_3,ciiu_6c_4,ciiu_6c_5,ciiu_6c_6,tamahno_1,tamahno_2,tamahno_3,tamahno_4
0,1002_16_17,1.0,1.0,6.0,9.0,1,37.560127,0.0,0.0,1.0,...,1,0,0,0,0,0,1,0,0,0
1,1003_16_17,1.0,1.0,6.0,0.0,1,41.000000,0.0,0.0,1.0,...,1,0,0,0,0,0,1,0,0,0
2,1003_17_18,1.0,1.0,6.0,1.0,1,42.000000,0.0,0.0,1.0,...,0,0,0,1,0,0,1,0,0,0
3,10068_16_17,1.0,1.0,0.0,9.0,1,49.000000,0.0,0.0,1.0,...,0,0,0,0,0,1,1,0,0,0
4,10070_16_17,1.0,0.0,NaN,9.0,1,37.560127,1.0,1.0,1.0,...,0,0,0,0,0,1,0,0,1,0

We checked whether a fundamental rule is accomplished: n >> p.

In [31]:
if data_clean_m.shape[0] >= data_clean_m.shape[1]:
    print("The number of observations is superior than the number of variables.")
else:
    print("The number of observations is NOT superior than the number of variables.")

The number of observations is superior than the number of variables.

In [32]:
print(df_encoded.columns)

Index(['num_panel', 'p203a', 'p501', 'p558e6', 'p599', 'p204', 'p208a', 'p306',
       'p314a', 'p401c',
       ...
       'ciiu_6c_1', 'ciiu_6c_2', 'ciiu_6c_3', 'ciiu_6c_4', 'ciiu_6c_5',
       'ciiu_6c_6', 'tamahno_1', 'tamahno_2', 'tamahno_3', 'tamahno_4'],
      dtype='object', length=239)

In [33]:
ano_columns = df_encoded.filter(regex='^ano_reg')
print(ano_columns)

       ano_reg
0            2
1            2
2            8
3            4
4            4
...        ...
23229        2
23230        8
23231        2
23232        8
23233        2

[23234 rows x 1 columns]

### Stratifying data for regnatxyear

The variable that we are going to be using for the stratification in the CV stratified is going to be the interaction between the natural region  (3) and the year of the observation (4). We choose to do this because eventhough we cannot not talk about representation, we can at least affirm that the stratas are different from each other (they have, at least, 0.15 of covariance).

We did a previous analysis os the interaction between departments (25) and the year (4) of the observation, but we couldn't find the minimun level of covariance as in the previous interaction.

In [34]:
data_X   = df_encoded.drop(['deg_desemp', 'ano_16', 'ano_17', 'ano_18', 'ano_19', 'regnat_1', 'regnat_2', 'regnat_3','ano_reg'], axis=1)
data_Y   = df_encoded.loc[:,['deg_desemp', 'ano_16', 'ano_17', 'ano_18', 'ano_19', 'regnat_1', 'regnat_2', 'regnat_3','ano_reg']]
data_X_m = df_encoded.loc[:, ['ano_16', 'ano_17', 'ano_18', 'ano_19', 'regnat_1', 'regnat_2', 'regnat_3', 'num_panel', 'ano_reg']]

In [35]:
data_X

,num_panel,p203a,p501,p558e6,p599,p204,p208a,p306,p314a,p401c,...,ciiu_6c_1,ciiu_6c_2,ciiu_6c_3,ciiu_6c_4,ciiu_6c_5,ciiu_6c_6,tamahno_1,tamahno_2,tamahno_3,tamahno_4
0,1002_16_17,1.0,1.0,6.0,9.0,1,37.560127,0.0,0.0,1.0,...,1,0,0,0,0,0,1,0,0,0
1,1003_16_17,1.0,1.0,6.0,0.0,1,41.000000,0.0,0.0,1.0,...,1,0,0,0,0,0,1,0,0,0
2,1003_17_18,1.0,1.0,6.0,1.0,1,42.000000,0.0,0.0,1.0,...,0,0,0,1,0,0,1,0,0,0
3,10068_16_17,1.0,1.0,0.0,9.0,1,49.000000,0.0,0.0,1.0,...,0,0,0,0,0,1,1,0,0,0
4,10070_16_17,1.0,0.0,NaN,9.0,1,37.560127,1.0,1.0,1.0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23229,995_16_17,1.0,1.0,0.0,9.0,1,35.000000,0.0,0.0,1.0,...,1,0,0,0,0,0,0,1,0,0
23230,995_17_18,1.0,1.0,6.0,9.0,1,37.000000,0.0,0.0,1.0,...,1,0,0,0,0,0,0,1,0,0
23231,999_16_17,1.0,1.0,6.0,1.0,1,43.000000,0.0,0.0,1.0,...,0,0,0,1,0,0,1,0,0,0
23232,999_17_18,1.0,1.0,6.0,9.0,1,44.000000,0.0,0.0,1.0,...,1,0,0,0,0,0,1,0,0,0
23233,9_16_17,1.0,1.0,6.0,1.0,1,37.560127,0.0,0.0,1.0,...,0,0,0,1,0,0,1,0,0,0

In [36]:
data_X['p204'].unique()

array([1, 0], dtype=int64)

In [37]:
# Brief analysis of the variables that are dropped in the missing section

print('The number of observations is {:.0f}'.format(data_X.shape[0]))
print('While the number of variables is {:.0f}'.format(data_X.shape[1]))

The number of observations is 23234
While the number of variables is 230

In [38]:
data_Y

,deg_desemp,ano_16,ano_17,ano_18,ano_19,regnat_1,regnat_2,regnat_3,ano_reg
0,0,1,0,0,0,0,1,0,2
1,0,1,0,0,0,0,1,0,2
2,0,0,0,1,0,0,1,0,8
3,0,0,1,0,0,1,0,0,4
4,1,0,1,0,0,1,0,0,4
...,...,...,...,...,...,...,...,...,...
23229,0,1,0,0,0,0,1,0,2
23230,0,0,0,1,0,0,1,0,8
23231,0,1,0,0,0,0,1,0,2
23232,0,0,0,1,0,0,1,0,8
23233,0,1,0,0,0,0,1,0,2

## Dropping correlated variables or features

In [39]:
data_X_corr = data_X.corr()
data_X_corr

,p203a,p501,p558e6,p599,p204,p208a,p306,p314a,p401c,p401f,...,ciiu_6c_1,ciiu_6c_2,ciiu_6c_3,ciiu_6c_4,ciiu_6c_5,ciiu_6c_6,tamahno_1,tamahno_2,tamahno_3,tamahno_4
p203a,1.000000,0.010072,-0.042008,0.026492,-0.109314,-0.139822,-0.034578,0.047605,-0.000426,-0.057542,...,-0.045357,0.002673,0.005320,-0.001735,0.010432,0.020779,-0.022354,0.034612,0.008080,0.013211
p501,0.010072,1.000000,-0.158128,-0.431554,-0.027008,0.069403,-0.242592,-0.061683,0.008844,0.012545,...,0.133403,0.145748,0.041464,0.295463,0.078633,-0.413299,0.562159,0.143830,-0.619012,0.017701
p558e6,-0.042008,-0.158128,1.000000,-0.067915,-0.005992,0.045501,-0.002207,-0.309973,-0.022192,0.017333,...,0.046544,-0.005360,-0.049181,0.079479,-0.049769,-0.071492,0.216643,-0.072248,-0.187516,-0.006478
p599,0.026492,-0.431554,-0.067915,1.000000,-0.025740,-0.134161,0.199818,0.181557,-0.020105,-0.029701,...,0.117470,-0.104967,0.023471,-0.387711,0.007965,0.313482,-0.532015,0.073160,0.502215,0.018110
p204,-0.109314,-0.027008,-0.005992,-0.025740,1.000000,0.013934,0.003285,-0.001303,-0.001997,0.082458,...,0.014203,0.004836,0.003161,0.009469,-0.000828,-0.017926,-0.038694,0.006779,0.035940,0.001578
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ciiu_6c_6,0.020779,-0.413299,-0.071492,0.313482,-0.017926,-0.041522,0.116132,0.156251,-0.017066,-0.029633,...,-0.370765,-0.319762,-0.082517,-0.713901,-0.162177,1.000000,-0.542098,-0.042718,0.558860,-0.007043
tamahno_1,-0.022354,0.562159,0.216643,-0.532015,-0.038694,0.089767,-0.155297,-0.232153,0.009752,0.014274,...,0.189243,0.116993,-0.023710,0.458215,0.003178,-0.542098,1.000000,-0.193376,-0.922466,-0.028001
tamahno_2,0.034612,0.143830,-0.072248,0.073160,0.006779,-0.069377,-0.009449,0.071193,-0.008234,-0.012898,...,0.041371,0.037535,0.089974,-0.030867,0.079349,-0.042718,-0.193376,1.000000,-0.196011,-0.005950
tamahno_3,0.008080,-0.619012,-0.187516,0.502215,0.035940,-0.062647,0.159167,0.203408,-0.006612,-0.009600,...,-0.204804,-0.131559,-0.012729,-0.445914,-0.036161,0.558860,-0.922466,-0.196011,1.000000,-0.028383
tamahno_4,0.013211,0.017701,-0.006478,0.018110,0.001578,-0.000677,-0.004567,0.014978,0.001053,0.006000,...,-0.007752,0.000092,0.023329,-0.000398,0.035229,-0.007043,-0.028001,-0.005950,-0.028383,1.000000

In [40]:
# Assuming your DataFrame is named data_X_corr
row_values = data_X_corr.filter(regex='^y_')

# Print or use the values from the first row
print(row_values)

              y_sec     y_mkt
p203a     -0.001401  0.003358
p501       0.184645  0.415991
p558e6    -0.035011 -0.367385
p599      -0.305184 -0.140418
p204       0.001629 -0.001164
...             ...       ...
ciiu_6c_6 -0.048767 -0.012615
tamahno_1  0.121930 -0.022721
tamahno_2  0.025666  0.084630
tamahno_3 -0.131438 -0.010561
tamahno_4 -0.007256  0.005029

[229 rows x 2 columns]

Here, we select the pair of variables that have a correlation higher than $0.8$.

In [41]:

columns = np.full((data_X_corr.shape[0]+1,2), 0)

In [42]:
# Here, we are going to create the pairs of variables from the dataframe which absolute value of correlation is superior to 0.8. 
pairs = np.empty((0, 2), dtype=int)

for i in range(data_X_corr.shape[0]):
    for x in range(1, data_X_corr.shape[0]):
        for j in range(i + x, data_X_corr.shape[0]):
            if (data_X_corr.iloc[i, j] >= threshold) | (data_X_corr.iloc[i, j] <= -threshold):
                pairs = np.vstack((pairs, [i, j]))
                pairs_unique = np.unique(pairs, axis=0)

In [43]:
pairs

array([[  1, 204],
       [  1, 204],
       [  1, 204],
       ...,
       [211, 214],
       [225, 227],
       [225, 227]])

In [44]:
# it could happen that one variable is correlated with more than one.  
delete_unique = np.unique(np.ravel(pairs_unique))
delete_columns = delete_unique.reshape(1, -1)
print(delete_columns)

[[  1  26  27  29  43  47  48  50  52  57  65  86 169 191 195 198 200 201
  204 211 214 219 220 221 222 225 227]]

In [45]:
columns = np.full((pairs_unique.shape[0],1), 0, dtype=bool)

In [46]:
# After that, we keep the variable that is more related to the outcome variable.
for i in range(pairs_unique.shape[0]):
    column_names_i = data_X_corr.columns[pairs_unique[i]]
    merged_i = pd.concat([data_X[column_names_i], data_Y["deg_desemp"]], axis=1)
    data_X_corr_2 = merged_i.corr()    
    if (abs(data_X_corr_2.iloc[0,2]) > abs(data_X_corr_2.iloc[1,2])):
        #print(f"i,j is {pairs_unique[i]} because {abs(data_X_corr_2.iloc[0,2])} > {abs(data_X_corr_2.iloc[1,2])}")
        columns[i]= True

In [47]:
merged_array = np.column_stack((pairs_unique, columns))

win = np.full((merged_array.shape[0],1), 0)
lose =  np.full((merged_array.shape[0],1), 0)

In [48]:
for i in range(merged_array.shape[0]):
    if merged_array[i, 2] == 1:
            win[i] = merged_array[i, 0]
            lose[i] = merged_array[i, 1]
    else:
            win[i] = merged_array[i, 1]
            lose[i] = merged_array[i, 0]

In [49]:
merged_filter = np.column_stack((merged_array, win, lose))
filter = np.full((merged_filter.shape[0],1), 0)

In [50]:
for i in range(merged_filter.shape[0]):
    for x in range( merged_filter.shape[0]):
        if merged_filter[i, 3] == merged_filter[x, 4]:
            #print(f"{merged_filter[i, 3]} is repeated in column {x}")
            filter[i]= True

In [51]:
merged_final = np.column_stack((merged_filter,filter))
merged_final = merged_final[merged_final[:, -1] == 0]

keep_unique = np.unique(np.ravel(merged_final[:,3]))
keep_columns = keep_unique.reshape(1, -1)
print(keep_columns)

[[  1  27  47  50  57  65  86 198 200 201 211 219 225]]

In [52]:
drop_column_names = data_X_corr.columns[np.squeeze(delete_columns)]
keep_column_names = data_X_corr.columns[np.squeeze(keep_columns)]
keep_column_names_with_index = keep_column_names.tolist() + ["num_panel"]
data_X_keep = data_X.loc[:, keep_column_names_with_index ]

In [53]:
data_X.drop(drop_column_names, axis=1, inplace=True)
data_X_f = pd.merge(data_X, data_X_keep)
data_X_f

,num_panel,p203a,p558e6,p599,p204,p208a,p306,p314a,p401c,p401f,...,ipcr_6,ipcr_15,celular,p110_2,sector_4,sector_6,sector_7,p300a_1.0,ciiu_6c_1,tamahno_1
0,1002_16_17,1.0,6.0,9.0,1,37.560127,0.0,0.0,1.0,1.0,...,92.307503,0.0,1,0,0,0,0,1,1,1
1,1003_16_17,1.0,6.0,0.0,1,41.000000,0.0,0.0,1.0,1.0,...,213.579697,0.0,1,0,0,0,0,0,1,1
2,1003_17_18,1.0,6.0,1.0,1,42.000000,0.0,0.0,1.0,1.0,...,5.071858,0.0,1,0,0,0,1,0,0,1
3,10068_16_17,1.0,0.0,9.0,1,49.000000,0.0,0.0,1.0,1.0,...,NaN,NaN,1,0,0,0,0,0,0,1
4,10070_16_17,1.0,NaN,9.0,1,37.560127,1.0,1.0,1.0,1.0,...,NaN,NaN,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23229,995_16_17,1.0,0.0,9.0,1,35.000000,0.0,0.0,1.0,1.0,...,0.000000,0.0,1,0,0,0,0,0,1,0
23230,995_17_18,1.0,6.0,9.0,1,37.000000,0.0,0.0,1.0,1.0,...,0.000000,0.0,1,0,0,0,0,0,1,0
23231,999_16_17,1.0,6.0,1.0,1,43.000000,0.0,0.0,1.0,1.0,...,9.152618,0.0,1,0,0,0,1,0,0,1
23232,999_17_18,1.0,6.0,9.0,1,44.000000,0.0,0.0,1.0,1.0,...,0.000000,0.0,1,0,0,0,0,0,1,1
23233,9_16_17,1.0,6.0,1.0,1,37.560127,0.0,0.0,1.0,1.0,...,43.781433,0.0,1,0,0,0,1,0,0,1

#### Quitamos observaciones con missings

In [54]:
print(data_X_f.index.equals(data_X))

False

In [55]:
# Drop rows with missing values from data_X_f
data_X_f_s = data_X_f.dropna()

data_X_f_s

,num_panel,p203a,p558e6,p599,p204,p208a,p306,p314a,p401c,p401f,...,ipcr_6,ipcr_15,celular,p110_2,sector_4,sector_6,sector_7,p300a_1.0,ciiu_6c_1,tamahno_1
0,1002_16_17,1.0,6.0,9.0,1,37.560127,0.0,0.0,1.0,1.0,...,92.307503,0.000000,1,0,0,0,0,1,1,1
1,1003_16_17,1.0,6.0,0.0,1,41.000000,0.0,0.0,1.0,1.0,...,213.579697,0.000000,1,0,0,0,0,0,1,1
2,1003_17_18,1.0,6.0,1.0,1,42.000000,0.0,0.0,1.0,1.0,...,5.071858,0.000000,1,0,0,0,1,0,0,1
181,1035_16_17,1.0,0.0,9.0,1,37.000000,0.0,1.0,1.0,1.0,...,101.260628,101.250198,1,0,0,0,0,0,0,0
210,1038_16_17,1.0,6.0,1.0,1,51.000000,0.0,0.0,1.0,1.0,...,0.000000,0.000000,1,0,0,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23229,995_16_17,1.0,0.0,9.0,1,35.000000,0.0,0.0,1.0,1.0,...,0.000000,0.000000,1,0,0,0,0,0,1,0
23230,995_17_18,1.0,6.0,9.0,1,37.000000,0.0,0.0,1.0,1.0,...,0.000000,0.000000,1,0,0,0,0,0,1,0
23231,999_16_17,1.0,6.0,1.0,1,43.000000,0.0,0.0,1.0,1.0,...,9.152618,0.000000,1,0,0,0,1,0,0,1
23232,999_17_18,1.0,6.0,9.0,1,44.000000,0.0,0.0,1.0,1.0,...,0.000000,0.000000,1,0,0,0,0,0,1,1
23233,9_16_17,1.0,6.0,1.0,1,37.560127,0.0,0.0,1.0,1.0,...,43.781433,0.000000,1,0,0,0,1,0,0,1

In [56]:
# Get the indices of dropped rows
dropped_indices = data_X_f.index.difference(data_X_f_s.index)

# Drop corresponding rows from data_Y using the dropped indices
data_Y_s = data_Y.drop(dropped_indices)
data_X_m_s = data_X_m.drop(dropped_indices)

In [57]:
data_X_m_s

,ano_16,ano_17,ano_18,ano_19,regnat_1,regnat_2,regnat_3,num_panel,ano_reg
0,1,0,0,0,0,1,0,1002_16_17,2
1,1,0,0,0,0,1,0,1003_16_17,2
2,0,0,1,0,0,1,0,1003_17_18,8
181,0,1,0,0,0,1,0,1035_16_17,5
210,1,0,0,0,0,1,0,1038_16_17,2
...,...,...,...,...,...,...,...,...,...
23229,1,0,0,0,0,1,0,995_16_17,2
23230,0,0,1,0,0,1,0,995_17_18,8
23231,1,0,0,0,0,1,0,999_16_17,2
23232,0,0,1,0,0,1,0,999_17_18,8
23233,1,0,0,0,0,1,0,9_16_17,2

In [58]:
#Nota: no importa si estan correlacionadas pero en negativo puesto que aportan de manera diferente al Y
# | (data_X_corr.iloc[i,j] <= -threshold)

We stablish a thershold of 0.8. We keep 165 variables.But then, we add the ones corresponding to the year (3) and the ones corresponding to the regions (25).

The variables we dropped were: . Now, we merge this dataset with the variables we will use for the CV stratified: ano, dep, ano_dep

In [59]:
data_m = pd.merge(data_X_f, data_X_m_s, left_index=True, right_index=True)
# Drop 'num_panel_x' and 'ano_reg' columns from data_m
data_m.drop(columns=['num_panel_x'], inplace=True)

# Rename 'num_panel_y' to 'num_panel'
data_m.rename(columns={'num_panel_y': 'num_panel'}, inplace=True)
data_m

,p203a,p558e6,p599,p204,p208a,p306,p314a,p401c,p401f,p401h1,...,tamahno_1,ano_16,ano_17,ano_18,ano_19,regnat_1,regnat_2,regnat_3,num_panel,ano_reg
0,1.0,6.0,9.0,1,37.560127,0.0,0.0,1.0,1.0,0.0,...,1,1,0,0,0,0,1,0,1002_16_17,2
1,1.0,6.0,0.0,1,41.000000,0.0,0.0,1.0,1.0,0.0,...,1,1,0,0,0,0,1,0,1003_16_17,2
2,1.0,6.0,1.0,1,42.000000,0.0,0.0,1.0,1.0,0.0,...,1,0,0,1,0,0,1,0,1003_17_18,8
181,1.0,0.0,9.0,1,37.000000,0.0,1.0,1.0,1.0,0.0,...,0,0,1,0,0,0,1,0,1035_16_17,5
210,1.0,6.0,1.0,1,51.000000,0.0,0.0,1.0,1.0,0.0,...,1,1,0,0,0,0,1,0,1038_16_17,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23229,1.0,0.0,9.0,1,35.000000,0.0,0.0,1.0,1.0,0.0,...,0,1,0,0,0,0,1,0,995_16_17,2
23230,1.0,6.0,9.0,1,37.000000,0.0,0.0,1.0,1.0,0.0,...,0,0,0,1,0,0,1,0,995_17_18,8
23231,1.0,6.0,1.0,1,43.000000,0.0,0.0,1.0,1.0,0.0,...,1,1,0,0,0,0,1,0,999_16_17,2
23232,1.0,6.0,9.0,1,44.000000,0.0,0.0,1.0,1.0,0.0,...,1,0,0,1,0,0,1,0,999_17_18,8
23233,1.0,6.0,1.0,1,37.560127,0.0,0.0,1.0,1.0,0.0,...,1,1,0,0,0,0,1,0,9_16_17,2

In [60]:
data_Y_s = data_Y_s.sort_index()
data_m = data_m.sort_index()

In [61]:
# Export Y DataFrame to CSV
data_Y_s.to_csv('G:\\Mi unidad\\PUCP\\2021-2\\TESIS_1\\3_datos\\data_Y_s_271223_1.csv', index=False)

# Export X DataFrame to CSV
data_m.to_csv('G:\\Mi unidad\\PUCP\\2021-2\\TESIS_1\\3_datos\\data_m_271223_1.csv', index=False)

In [62]:
pip install "flaml[automl]"

Requirement already satisfied: flaml[automl] in c:\users\dell\anaconda3\lib\site-packages (2.1.1)
Requirement already satisfied: NumPy>=1.17.0rc1 in c:\users\dell\anaconda3\lib\site-packages (from flaml[automl]) (1.21.5)
Requirement already satisfied: xgboost>=0.90 in c:\users\dell\anaconda3\lib\site-packages (from flaml[automl]) (2.0.3)
Requirement already satisfied: pandas>=1.1.4 in c:\users\dell\anaconda3\lib\site-packages (from flaml[automl]) (1.4.4)
Requirement already satisfied: lightgbm>=2.3.1 in c:\users\dell\anaconda3\lib\site-packages (from flaml[automl]) (4.2.0)
Requirement already satisfied: scipy>=1.4.1 in c:\users\dell\anaconda3\lib\site-packages (from flaml[automl]) (1.9.1)
Requirement already satisfied: scikit-learn>=0.24 in c:\users\dell\anaconda3\lib\site-packages (from flaml[automl]) (1.0.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=1.1.4->flaml[automl]) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=1.1.4->flaml[automl]) (2.8.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn>=0.24->flaml[automl]) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn>=0.24->flaml[automl]) (1.2.0)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.1.4->flaml[automl]) (1.16.0)
Note: you may need to restart the kernel to use updated packages.